<style>
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
</style>


<nav class="navbar navbar-expand-lg navbar-dark p-3 bg-danger" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img src="./assets/icj.jfif" height="80" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
 
    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Products</a>
        </li>
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" href="#">
            <img
            src="./assets/icj.jfif"
            height="80" alt="Iglesia Cristiana Jesucristo">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Blog</a></li>
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><a class="dropdown-item" href="#">Contact us</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center" style="padding: 50px;">
  <div class="container">
    <h1 class="display-4 titulo">Iglesia Cristiana Jesucristo</h1>
  </div>
</div>

<div class="jumbotron text-center" style="padding-top:50px">
  <div class="row reveal" style="margin-top: 25px;">
    <div class="col-md-3"></div>
    <div class="col-md-3" style="">
      <img src="assets/psricardoyhnavivi.png" width="300" height="300" style="border-radius: 50%;padding-bottom: 10px;">
      <h6 class="contenido text-center">Ricardo y Scarlett Kummerfeldt</h6>
    </div>
    <div class="col-md-3" style="padding-top: 75px;">
      <h4 class="titulo">PASTOR GENERAL</h4>
      <p class="contenido">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quo, repudiandae fuga
        accusantium cumque quasi? At porro ea asperiores nam mollitia eos quibusdam quasi iure. Quod dolore libero
        provident eius.</p>
      <div class="col-md-3"></div>
    </div>
  </div>
  <div class="row reveal" style="margin-top: 25px;">
    <div class="col-md-3"></div>
    <div class="col-md-3" style="">
      <img src="assets/fito.png" width="300" height="300" style="border-radius: 50%;padding-bottom: 10px;">
      <h6 class="contenido text-center">Gustavo Adolfo Franco</h6>
    </div>
    <div class="col-md-3" style="padding-top: 75px;">
      <h4 class="titulo">PASTOR</h4>
      <p class="contenido">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore quo, repudiandae fuga
        accusantium cumque quasi? At porro ea asperiores nam mollitia eos quibusdam quasi iure. Quod dolore libero
        provident eius.</p>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid"
  style="background:transparent !important; padding-top: 50px; padding-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/wheat.png" alt="">

          <div class="card-body">
            <h5 class="card-title titulo">Visión</h5>
            <p class="card-text contenido">
              Alcanzar la unidad de la fe y del conocimiento pleno del Hijo de Dios, a la madurez del varón perfecto, a
              la medida de la estatura de la plenitud de Cristo
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="assets/mountains.jpg" alt="">

          <div class="card-body">
            <h5 class="card-title titulo">Misión</h5>
            <p class="card-text contenido">
              Conscientes que somos miembros en particular del Cuerpo de Cristo, nuestra Misión es: Desempeñar con
              excelencia, entusiasmo y contentamiento la función dentro del área ministerial donde el Espíritu Santo en
              Su soberana sabiduría nos ha ubicado como congregación local, en función de la Iglesia Universal, hasta
              alcanzar el premio del supremo llamamiento de Dios en Cristo Jesús.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Iglesia Cristiana Jesucristo</h1>
      <p class="contenido">Conéctate y sé bendecido a través de nuestras transmisiones en vivo.</p>
      <a href="https://es-la.facebook.com/IglesiaCristianaJesucristo/"><button type="button"
          class="btn btn-outline-primary">CONÉCTATE</button></a>
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="https://es-la.facebook.com/IglesiaCristianaJesucristo/"><img src="assets/icj.jfif" width="200"
          height="200" style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Instituto Bíblico Jesucristo</h1>
      <p class="contenido">Proveyendo al cuerpo de Cristo una educación cristiana seria, firme y profunda.</p>
      <a href="https://es-la.facebook.com/IBJGuatemala/"><button type="button" class="btn btn-outline-primary">VISITA EL
          SITIO</button> </a>
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="https://es-la.facebook.com/IBJGuatemala/"><img src="assets/ibj.png" width="200" height="200"
          style="border-radius: 100px;padding: 25px;" alt="Haga clic en la imagen"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section1">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Mensajes de viernes</h1>
      <p class="contenido">Escucha nuestros mensajes de los viernes.</p>
      <a href="https://www.youtube.com/@icjprod4997/videos"><button type="button"
          class="btn btn-outline-primary">SUSCRÍBETE</button> </a>
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="https://www.youtube.com/@icjprod4997/videos"><img src="assets/icjprod.jpg" width="200" height="200"
          style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>

<div class="container-fluid text-center reveal" id="section2">
  <div class="row">
    <div class="col" style="margin-top: 75px;">
      <h1 id="titulo" class="titulo">Mujeres llenas de gracia</h1>
      <p class="contenido">El ministerio Mujeres Llenas de Gracia nació en el corazón de Dios. <br />Está basado en Tito
        2:3-5.</p>
      <a href="https://www.facebook.com/mujeresllenasdegraciaicj/"><button type="button"
          class="btn btn-outline-primary">VISÍTANOS</button> </a>
    </div>
    <div class="col" style="margin-top: 50px;">
      <a href="https://www.facebook.com/mujeresllenasdegraciaicj/"><img src="assets/mlg.jfif" id="ima" width="200"
          height="200" style="border-radius: 100px;padding: 25px;"></a>
    </div>
  </div>
</div>




<!-- <div style="background-color: #28D1F7;">
  <div class="container" >
    <div class="row "> 
      <div class="col-md-12">
         <div class="container-fluid text-center">
           <h2 class="titulo" style="padding-top: 25px;">DECLARACIÓN DE FE</h2>
           <br>
           <div class="row">
             <div class="col-sm-4" style="background-color: white; border-radius: 25px;margin: 10px;">
               
               
               <h4 class="titulo">DIOS</h4>
               <p class="text-justify contenido">En un Dios Creador y Sustentador del Universo, eternamente existente en tres personas: Padre, Hijo y Espíritu Santo.</p>
             </div>
             <div class="col-sm-4" style="background-color: white; border-radius: 25px;margin: 10px;">
               <h4 class="titulo">DEIDAD</h4>
               <p class="text-justify contenido">En la Deidad del Señor Jesucristo, su concepción virginal, vida perfecta, muerte redentora, resurrección corporal, exaltación actual a la diestra de Dios y Su regreso personal.</p>
             </div>
             <div class="col-sm-4" style="background-color: white; border-radius: 25px;margin: 10px;">
               <h4 class="titulo">ESPÍRITU SANTO</h4>
               <p class="text-justify contenido">En la Deidad y Persona del Espíritu Santo, actuando en los hombres, capacitándolos y dándoles poder para vivir una vida de santidad y servicio fructífero.</p>
             </div>
           </div>
           <br><br>
           <div class="row">
               <div class="col-md-4" style="background-color: white; border-radius: 25px;margin: 10px;">
                 <h4 class="titulo">BIBLIA</h4>
                 <p class="text-justify contenido">Que la Biblia es la Palabra de Dios divinamente inspirada y con autoridad, y la única regla infalible de fe y práctica.</p>
               </div>
               <div class="col-md-4" style="background-color: white; border-radius: 25px;margin: 10px;">
                 <h4 class="titulo">HOMBRE</h4>
                 <p class="text-justify contenido">Que todos los hombres han pecado, son por lo tanto culpables delante de Dios y están bajo la ira de Dios.</p>
               </div>
               <div class="col-md-4" style="background-color: white; border-radius: 25px;margin: 10px;">
                 <h4 class="titulo">CRUZ</h4>
                 <p class="text-justify contenido">Que mediante la muerte de Su Hijo Jesucristo, Dios en Su amor, proveyó un Camino por el cual puede tener misericordia del pecador; así, a través del arrepentimiento y la fe en Cristo, el hombre es librado del juicio de Dios y renace para vida eterna.</p>
               </div>
           </div>
           <br><br>
           <div class="row">
               <div class="col-md-4" style="background-color: white; border-radius: 25px;margin: 10px;">
                 <h4 class="titulo">RESURRECCIÓN</h4>
                 <p class="text-justify contenido">En la resurrección corporal de todos los muertos. Los salvos recibirán vida eterna en presencia de Cristo y los incrédulos recibirán perdición eterna.</p>
               </div>
               <div class="col-md-4" style="background-color: white; border-radius: 25px;margin: 10px;">
                 <h4 class="titulo">IGLESIA</h4>
                 <p class="text-justify contenido">Que la iglesia debe estar formada por creyentes genuinos, cuya misión, con Cristo por cabeza, es comunicar el Evangelio a todo el mundo.</p>
               </div>
           </div>
           </div>      
       </div>
     </div>    
  </div>
</div> -->

<div>
  <div class="col-md-12" style="padding: 50px;">
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0"
        marginwidth="0"
        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=11%20Calle%2014-85%20Zona%2011,%20Carabanchel+(ICJ)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
          href="https://www.gps.ie/marine-gps/">navigation gps</a></iframe></div>
  </div>
</div>